{% extends 'base.html' %}
{% load static %} 

{% block title %}General Expense Modes | Dummy Inc. {% endblock title %} 

{% block content %}

<div class="container-fluid px-4">

    <div class="d-flex justify-content-between small">
        <div><h5 class="mt-4">{{ range }} Expense Modes:</h5><br></div>
        <div class="form-group mt-4">
            <form id="dataperiodform" name="periodform" action="" method="POST" onchange="dataperiodform.submit();">
            {% csrf_token %}
            {% comment %} <label for="dataperiod"><h6>Period:</h6></label> {% endcomment %}
            <select id="dataperiod" name="dataperiod">
                <option value="">Select Period</option>
                <option value="all_time">All Time</option>
                <option value="today">Today</option>
                <option value="last_7_days">Last 7 Days</option>
                <option value="last_30_days">Last 30 Days</option>
                <option value="last_60_days">Last 60 Days</option>
                <option value="last_90_days">Last 90 Days</option>
                <option value="current_month">Current Month</option>
                <option value="current_year">Current Year</option>
            </select>
            </form>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive-md">
                        <table id="infoTable" class="display table table-bordered table-hover">
                            <thead class="bg-dark text-white">
                                <tr>
                                    {% comment %} <th>ID</th> {% endcomment %}
                                    <th>Mode</th>
                                    <th>Instances</th>
                                    <th>Amount</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            {% for mode in expense_mode %}
                                <tr>
                                    {% comment %} <td>{{ mode.id }}</td> {% endcomment %}
                                    <td>{{ mode.expense_mode }}</td>
                                    <td>{{ mode.mode_count}}</td>
                                    <td>${{ mode.mode_sum |floatformat:2}}</td>
                                    <td><a href="{% url 'expense-modes-general-edit' mode.id %}"><i class="fas fa-edit icon-edit"></a></td>
                                    <td><a href="{% url 'expense-modes-general-delete' mode.id %}"><i class="fas fa-trash-alt icon-delete"></a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <br>
                    <a href="{% url 'expense-modes-general-add' %}"><p class="btn btn-sm bg-dark text-white">Add Expense Mode</p></a>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb4">
                <div class="card-body">
                    <canvas id="expenseModesChart" width="100%">
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
                    <script>
                        var ctx = document.getElementById("expenseModesChart");
                        var expenseModesChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                            labels: {{ mode_labels|safe }},
                            datasets: [{
                                label: 'Expense Modes',
                                data: {{ mode_data|safe }},
                                backgroundColor: ['#F40000', '#7C007C', '#185B49', '#870E38', '#F7E100', '#010BE4', '#FF6100', '#C73EF7', '#DE139E', '#00B526', ],
                            }],
                            },
                        });
                    </script>
                    </canvas>
                </div>
                <h6 class="text-center">Distribution of {{ range }} Expense Modes</h6>
            </div>
        </div>
    </div>
</div>


{% endblock content %}