{% extends 'base.html' %}
{% load static %} 

{% block title %}Delete "{{city_name }}" | Dummy Inc. {% endblock title %} 

{% block content %}


<div class="container-fluid px-4">
    <br><h5>&nbsp;</h5>
    <div class="row">
        <div class="col-xl-12 bg-white card-shadow">
            <div class="row">
                <div class="col-xl-6">
                    <div class="card plain mb-4">
                        <div class="card-body">
                            <h5 class="text-danger" style="text-decoration: underline;">Confirm City Deletion:</h5>
                            <br>
                            <p>Are you sure you want to delete <span style="font-weight: 700; color: #005BC1;">"{{ city_name }}"</span> City?</span></p>
                            <p>Please note deleting this customer city may also result in deletion of all other entries related to it.</p> <p>Also note that this action can't be undone.</p>

                            <form action="{% url 'customer-cities-delete' city.id %}" method="POST">
                                {% csrf_token %}
                                <a href="{% url 'customer-cities' %}" class="btn btn-sm bg-dark text-white btn-form">No, Cancel</a>
                                <input class="btn btn-sm btn-danger btn-form" type = "submit" value="Yes, Delete">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card plain mb-4">
                        <div class="card-body">
                            <img src="{% static 'images/warning.png' %}" alt=" " width="50%">
                        </div>
                    </div>
                </diV>
            </div>
        </diV>
    </div>
</div>


{% endblock content %}